/*
* @Author: wq
* @Date:   2017-12-30 12:49:35
* @Last Modified by:   wq
* @Last Modified time: 2018-01-10 14:32:52
*/

.icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }


*{
	margin: 0;
	padding:0;
	text-decoration: none;
	list-style: none;
}
.iconfont{
    font-family:'iconfont1';
    font-style: normal;
    font-size: 5px;
}

@font-face {
  font-family: 'iconfont1';   project id 525040 
  src: url('https://at.alicdn.com/t/font_525040_9f1vw3gpdhg2e29.eot');
  src: url('https://at.alicdn.com/t/font_525040_9f1vw3gpdhg2e29.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_525040_9f1vw3gpdhg2e29.woff') format('woff'),
  url('https://at.alicdn.com/t/font_525040_9f1vw3gpdhg2e29.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_525040_9f1vw3gpdhg2e29.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'iconfont';  /* project id 526543 */
  src: url('https://at.alicdn.com/t/font_526543_3eqdznu9mjxrms4i.eot');
  src: url('https://at.alicdn.com/t/font_526543_3eqdznu9mjxrms4i.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_526543_3eqdznu9mjxrms4i.woff') format('woff'),
  url('https://at.alicdn.com/t/font_526543_3eqdznu9mjxrms4i.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_526543_3eqdznu9mjxrms4i.svg#iconfont') format('svg');
}
*{
     margin: 0;
     padding: 0;
     text-decoration: none;
     list-style: none;
}

/* 广告 开始 */
.guanggao{
     display: block;
     width: 100%;
     height: 100px;
     background: #f50185;
}
.guanggao_img{
     width: 1190px;
     height: 100%;
     background: red;
     margin: 0 auto 0;
}
.guanggao_img img{
     display: block;
     width: 100%;
     height: 100%;
}
/* 广告 结束 */

/* 菜单栏 开始 */
.big_menu{
     width: 100%;
     height: 35px;
     background: #f5f5f5;
     border-bottom: 1px solid #eeeeee;
}
.small_menu{
     width: 1190px;
     height: 100%;
     background: #f5f5f5;
     margin: 0 auto 0;
}
.menu_left{
     width: 342px;
     height: 100%;
     background: #f5f5f5;
     float: left;
}
.daohang{
     width: 65px;
     height: 11px;
     background: #f5f5f5;
     margin-top: 12px;
     margin-left: 9px;
     float: left;
}
.daohang_wenzi{
     width: 49px;
     height: 11px;
     float: left;
     font-size: 11px;
     color: #666;
     line-height: 11px;
}
.iconfont_1{
     width: 16px;
     height: 100%;
     font-family: iconfont;
     line-height: 0;
     color: #c7cee6;
     float: right;
     font-style: normal;
     transition: 0.5s;
}
.daohang:hover .iconfont_1{
     transform: rotate(-180deg);
}
.shangjia{
     display: block;
}
.shangjia:hover .daohang_wenzi{
     color: #ff6600;
}
.dingwei{
     display: block;
     width: 84px;
     height: 100%;
     background: #f5f5f5;
     float: left;
}
.iconfont_2{
     font-family: iconfont;
     width: 24px;
     height: 15px;
     font-size: 15px;
    text-align: center;
    font-style: normal;
    line-height: 24px;
    color: #ffaa00;
    float: left;
}
.taiyuan{
    font-size: 11px;
    color: #333333;
    float: left;
    margin-top: 10px;
    color: #333;
}
.iconfont_3{
    font-family: iconfont;
    float: left;
    font-style: normal;
    line-height: 24px;
    font-size: 18px;
    color: #bbbbbb;
}
.menu_right{
     width: 617px;
     height: 100%;
     background: #f5f5f5;
     float: right;
}
.right_denglu{
     display: block;
     font-size: 11px;
     line-height: 35px;
     color: #666666;
     float: left;
     margin-right: 13px;
}
.right_denglu:hover{
     color: #ff6600;
}
.dingdan{
     margin-left: 0;
     margin-right: 13px;
}
.zhuce{
     color: #ff6600;
}
.dingdan:hover .daohang_wenzi{
     color: #ff6600;
}
.right_gouwuche{
     display: block;
     width: 103px;
     height: 100%;
     background: #f5f5f5;
     float: left;
}
.iconfont_4{
     font-family: iconfont;
     float: left;
     font-style: normal;
     line-height: 24px;
     font-size: 14px;
     color: #fd6600;
} 
#gouwuche{
     margin-left: 10px;
     margin-right: 0;
}
#gouwuche .daohang_wenzi{
     color: #f60;
}
#suning{
     margin-right: 0;
}
/* 菜单栏 结束

/* 搜索 开始 */
.search{
     width: 1190px;
     height: 111px;
     background: #fff;
     margin: 0 auto;
}
.logo{
     display: block;
     width: 210px;
     height: 111px;
     background: grey;
     float: left;
}
.logo img{
     display: block;
     width: 100%;
     height: 100%;
}
.sousuo{
     width: 540px;
     height: 100%;
     background: #fff;
     float: left;
     margin-left: 150px;

}
.sousuokuang{
     width: 100%;
     height: 40px;
     background: green;
     margin-top: 31px;
}
.kuang_left{
     width: 418px;
     height: 36px;
     background: #fff;
     border: 2px solid #f90;
     border-right: none;
     float: left;
}
.kuang_right{
     display: block;
     width: 120px;
     height: 100%;
     background: #f90;
     float: right;
     font-size: 18px;
     color: #fff;
     text-align: center;
     line-height: 36px;
     font-weight: 700;

}
.kuang_right:hover{
     background: #f60;
}
.sousuo_a{
     width: 100%;
     height: 27px;
     background: #fff;
}
.sousuo_a a{
     width: auto;
     height: 27px;
     font-size: 11px;
     color: #999;
     line-height: 27px;
     margin-right: 13px;
}
.sousuo_a a:hover{
     color: #f60;
}
.erweima{
     width: 103px;
     height: 100%;
     background: green;
     float: right
}
.erweima img{
     display: block;
     width: 100%;
     height: 100%;
}
/* 搜索 结束 */

/* banner */
.banner{
     width: 100%;
     height: 478px;
     background: #fff;
}
/* banner上 */
.banner_top{
     width: 1190px;
     height: 38px;
     background: #fff;
     margin: 0 auto;
}
.banner_top .fenlei_left{
    width: 190px;
    height: 100%;
    background: #f90;
    float: left;
    transition: all 0.3s;
}
.banner_top .fenlei_left:hover{
     background: #f60;
}
.iconfont_5{
     font-family: iconfont;
     font-size: 14px;
     color: #fff;
     font-style: normal;
     margin-left: 9px;
     line-height: 28px;
    float: left;
}
.fenlei_wenzi{
    font-size: 13px;
    color: #fff;
    line-height: 38px;
    float: left;
    margin-left: 6px;
}
.fenlei{
     width: 830px;
     height: 100%;
     background: #fff;
     float: left;
}
.fenlei li a{
     font-size: 13px;
     color: #333;
     margin-left: 23px;
     line-height: 38px;
     height: 100%;
     width: auto;
     float: left;
    position: relative;
    overflow: hidden;
}
.fenlei li a:hover{
     color: #f60;
     transition: all 0.3s;
}
.hoticon{
     width: 14px;
     height: 17px;
     float: right;
     background: url('../img/images/hoticon.png') no-repeat right top;
}
.fenlei li img{
     width: 25px;
     height: 8px;
    background: yellow;
    position: absolute;
    left: 8px;
    bottom: -8px;
}
.fenlei li:nth-child(8) img{
    left: 0;
}
.fenlei li a:hover img{
     bottom: 0;
}
.fenlei_right a{
     display: block;
     width: 168px;
     height: 100%;
     background: yellow;
     float: right;
}
.fenlei_right a img{
     display: block;
     width: 100%;
     height: 100%;
}
/* banner下 */
.banner_bottom{
     width: 100%;
     height: 440px;
     background: #345;
}
.bottom_left{
     width: 80px;
     height: 100%;
     background: #fff;
     float: left;
}
.bottom_right{
     width: 79px;
     height: 100%;
     background: #fff;
     float: right;
}
.bottom_center{
     width: 1190px;
     height: 100%;
     background: #f2f2f2;
     float: left;
}
/* 左导航 */
.center_menu{
     width: 190px;
     height: 434px;
     padding-top: 3px;
     padding-bottom: 3px;
     background: #252221;
     float: left;
}
.menu_list{
     width: 190px;
     height: 31px;
     

}
.menu_list:hover{
     background: #fff;
}
.menu_list:hover .list_a a{
   background: #fff;
   color: #111;
}
.menu_list:hover .list_a a:hover{
   
   color: #ff9900;
}
.iconfont_6{
     width: auto;
     height: 31px;
     font-family: iconfont;
     font-size: 13px;
     line-height: 18px;
     margin-left: 7px;
     color: #fea900;
     font-style: normal;
     float: left;
}
.list_a{
    width: auto;
    height: 13px;
    float: left;
    margin: 9px 0 0 8px;
    font-size: 11px;
    line-height: 13px;
    color: #5d7769;
}
.list_a a{
     margin-right: 3px;
     color: #fff;
}
/*.list_a a:hover{
     color: #f60;
     background: #fff;
}*/
/* banner 图片 */
.banner_img{
     width: 830px;
     height: 440px;
    float: left;
    position: relative;
}
.b_img{
     width: 830px;
     height: 440px;
     background: pink;
}
.b_img li a{
     display: block;
     width: 100%;
     height: 100%;
}
.b_img li a img{
     display: block;
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
}
.b_right{
     display: block;
     width: 150px;
     height: 213px;
     background: rgba(255, 255, 255, 0.6);
     position: absolute;
     top: 5px;
     right: 5px;
}
.b_right:hover{
     background: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
}
.b_text{
    width: auto;
    height: 17px;
    font-size: 12px;
    color: #333;
    margin: 23px 0 0 19px;
}
.s_text{
     width: auto;
    height: 17px;
    font-size: 11px;
    color: #666;
    margin-left: 19px;
}
.b_right_img{
     width: 136px;
     height: 136px;
    margin-top: 15px;
    margin-left: 7px;
}
.b_right_img img{
     display: block;
    width: 100%;
    height: 100%;
}
.b_right_bottom{
     display: block;
     width: 150px;
     height: 213px;
     background: rgba(255, 255, 255, 0.7);
     position: absolute;
     bottom: 5px;
     right: 5px;
}
.b_right_bottom:hover{
     background: rgba(255, 255, 255, 0.9);
}
/* 轮播点 箭头 */
.lunbodian{
     width: 212px;
     height: 16px;
     position: absolute;
     left: 299px;
     bottom: 22px;
}
.lunbodian li{
     width: 16px;
     height: 16px;
     border-radius: 50%;
     background: #e0c1dd;
     float: left;
     margin-right: 12px;
}
.lunbodian li:nth-child(4){
     background: #fc3c01;
}
.lunbodian li:last-child{
     margin-right: 0;
}
.jiantou_left{
     display: block;
     width: 30px;
     height: 64px;
     background: url('../img/images/jtqian_left.png') no-repeat center center;
     position: absolute;
     top: 0;
     bottom: 0;
     margin-top: auto;
     margin-bottom: auto;
     left: 0;
    opacity:0; 
}
.jiantou_left:hover{
     background: url('../img/images/jtshen_left.png') no-repeat center center;
}
.jiantou_right{
     display: block;
     width: 30px;
     height: 64px;
     background: url('../img/images/jtqian_right.png') no-repeat center center;
     position: absolute;
     top: 0;
     bottom: 0;
     margin-top: auto;
     margin-bottom: auto;
     right: 0;
    opacity: 0;
}
.jiantou_right:hover{
     background: url('../img/images/jtshen_right.png') no-repeat center center;
}
.banner_bottom:hover .jiantou_left{
      transition: all 0.6s;
      opacity: 1;
}
.banner_bottom:hover .jiantou_right{
      transition: all 0.6s;
      opacity: 1;
}

/* Hi 你好 */
.hello{
     width: 170px;
     height: 430px;
     background: #fff;
     float: right;
     margin-top: 5px;
}
.hello_top{
     width: 100%;
     height: 168px;
     background: #fff;
     border-bottom: 1px solid #f2f2f2;
     overflow: hidden;
}
.shizi{
     display: block;
     width: 36px;
     height: 36px;
    background: url('../img/images/shizi_03.png') no-repeat center center;
    margin: 20px auto 0;
}
.hello_top_p{
     width: 170px;
     height: 24px;
     font-size: 11px;
     color: #333;
     text-align: center;
     margin-top: 21px;
}
.anniu{
     width: 170px;
     height: 22px;
     background: #fff;
}
.anniu a{
     width: 68px;
     height: 20px;
     background: #fff;
     border: 1px solid #ff9900;
     font-size: 12px;
     text-align: center;
     line-height: 20px;
     color: #ff9900;
     margin-left: 11px;
    float: left;
}
.anniu a:last-child{
     background: #ffdeae;
     border: 1px solid #ffcb7f;
     color: #b48546;
     margin-left: 12px;
}
.zuanshi{
     width: 170px;
     height: 14px;
     background: #fff;
     margin-top: 12px;
}
.zuanshi_left{
     display: block;
     width: 70px;
     height: 100%;
     margin-left: 15px;
     float: left;
}
.zuanshi_left img{
     display: block;
     width: 14px;
    height: 14px;
    float: left;
}
.yunzuan{
    float: left;
    margin-left: 4px;
    width: auto;
    height: 100%;
    font-size: 11px;
    line-height: 14px;
    color: #333;
}
.hello_center{
     width: 170px;
     height: 115px;
     border-bottom: 1px solid #f2f2f2;
     background: #fff;
}
.guanzhu{
     display: block;
     width: auto;
     height: 13px;
     background: #fff;
    margin-left: 11px;
}
.guanzhu_1{
     margin-top: 12px;
     font-size: 11px;
     color: #f60;
     line-height: 13px;
     float: left;
}
.guanzhu_2{
    font-size: 11px;
    color: #333;
    line-height: 13px;
    float: left;
    margin-top: 12px;
    margin-left: 6px;
}
.guanzhu:hover .guanzhu_2{
     color: #f60;
}
.bikan{
     margin-top: 35px;
}
.hello_bottom{
     width: 170px;
     height: 145px;
     background: #fff;
}
.hb_top{
     width: 100%;
     height: 72px;
     border-bottom: 1px solid #f2f2f2;
     background: #fff;
}
.box{
     width: 56px;
     height: 72px;
     background: #fff;
     border-right: 1px solid #f2f2f2;
     float: left;
}
.box_1{
     border-right: none;
}
.box_2{
     margin-top: 1px;
}
.iconfont_7{
     font-family: iconfont;
     font-size: 25px;
     color: #ff9900;
     font-style: normal;
     line-height: 25px;
     text-align: center;
     margin-left: 15px;
}
.icon_p{
     width: 56px;
     height: 12px;
     margin-top: 9px;
     font-size: 12px;
     text-align: center;
     line-height: 12px;
     color: #333;
}
.box:hover .icon_p{
     color: #f60;
}


.background{
     width: 100%;
     height: auto;
     background: #f2f2f2;
     padding-top: 20px;
}



/* 大聚会 */
     .dajvhui{
     	width: 1190px;
     	height: 305px;
     	background: white;
     	margin: 20px auto 0;
     }
     .dajvhui-top{
     	width: 1190px;
     	height: 43px;
     	background: #f2f2f2;
     }
     .dajvhui-top-left{
     	width: 190px;
     	height: 43px;
     	background: red;
     	color: white;
     	font-size: 13px;
     	text-align: center;
     	line-height: 43px;
     	float: left;
     }
     .dajvhui-top-left strong{
     	font-size: 20px;
     }


     .dajvhui-top-mid{
     	width: 380px;
     	height: 43px;
     	float: left;
     	margin-left: 70px;

     }
     .dajvhui-top-mid-a-l{
     	height: 41px;
     	width: 60px;
     	color: red;
     	font-size: 15px;
     	text-align: center;
     	line-height: 41px;
     	border-bottom: 2px solid red;
     }
     .dajvhui-top-mid-a{
     	display: block;
     	width: 60px;
     	float: left;
     }
     .dajvhui-top-mid-a1{
     	margin-left: 50px;
     }
     /* .dajvhui-top-mid-a-l1{
     	border: 0;
     	color: #333;
     }
     .dajvhui-top-mid-a-l1:hover{
     	border-bottom: 2px solid red;
     	color: red;
     }
     .dajvhui-top-mid-a-l1:hover .dajvhui-top-mid-a-l{
     	border: 0;
     	color: #333;
     } */
     .dajvhui-top-right{
     	float: right;
     	width: 114px;
     	height: 23px;
     	background: red;
     	border: 1px solid red;
     	border-radius: 30px;
     	margin-top: 12px;
     	margin-right: 1px;
     	color: white;
     	font-size: 11px;
     	text-align: center;
     	line-height: 23px;
     }








     .dajvhui-bottom{
     	width: 1190px;
     	height: 260px;
     	border-top: 2px solid red;
     }
     .dajvhui-bottom-list{
     	width: 200px;
     	height: 228px;
     	padding-top: 32px;
     	background: white;
     	position: relative;
     	float: left;
     }
     .dajvhui-bottom-list-shu{
     	height: 140px;
     	width: 1px;
     	background: #eee;
     	position: absolute;
     	right: 0;
     	top: 20px;
     }
     .dajvhui-bottom-list-a{
     	display: block;
     }
     .dajvhui-bottom-list-a:hover .dajvhui-bottom-list-pic-img{
     	transform: scale(1.1, 1.1);
     }
     .dajvhui-bottom-list-a:hover .dajvhui-bottom-list-p{
     	color: #ff6600;
     }
     .dajvhui-bottom-list-pic{
     	width: 159px;
     	height: 136px;
     	margin: 0 auto;
     }
     .dajvhui-bottom-list-pic-img{
     	width: 100%;
     	height: 100%;
     	transition: 0.5s;
     }
     .dajvhui-bottom-list-p{
     	font-size: 11px;
     	color: #333;
     	width: 160px;
     	margin-left: 20px;
     	margin-bottom: 8px;
     }
     .dajvhui-bottom-list-jiage{
     	font-size: 12px;
     	color: #ff6600;
     	float: left;
     	margin-left: 20px;
     	margin-right: 5px;
     }
     .dajvhui-bottom-list-dazhe{
     	font-size: 9px;
     	color: #999;
     	float: left;
     	text-decoration: line-through;
     }


     .dajvhui-bottom-guanggao{
     	width: 180px;
     	height: 240px;
     	float: right;
     	margin: 10px 10px 0 0;
     }
     
     .dajvhui-bottom-guanggao-a-img{
     	width: 100%;
     	height: 100%;
     }


/* 好货 */
     .kuangjia{
     	width: 1190px;
     	height: 427px;
     	margin: 20px auto 0;
     }
     .kuangjia .haohuo:last-child{
     	margin-right: 0;

     }
     .haohuo{
     	height: 427px;
     	width: 390px;
     	float: left;
     	margin-right: 10px;
     }
     .haohuo-top{
     	height: 45px;
     	width: 390px;
     	background: #3b8c94;

     }
     .haohuo-top2{
     	background: #e66a07;
     }
     .haohuo-top3{
     	background: #b62323;
     }
     .haohuo-top-left{
     	float: left;
     	font-size: 18px;
     	color: white;
     	line-height: 45px;
     	margin-left: 15px;

     }
     .haohuo-top-right{
     	float: right;
     	
     	
     	line-height: 45px;
     	margin-right: 10px;
     }
     .haohuo-top-right-a{
     	color: white;
     	font-size: 11px;
     }
     .haohuo-bottom{
     	width: 369px;
     	height: 362px;
     	background: white;
     	padding: 10px 10px 10px 11px;
     }

     .haohuo-bottom-ge{
     	width: 183px;
     	height: 120px;
     	float: left;
     	border-right: 1px solid #e7e7e7;
     	border-bottom: 1px solid #e7e7e7;
     }
     .haohuo-bottom-ge2{
     	border-right: 0;
     }
     .haohuo-bottom-ge4{
     	border-right: 0;
     }
     .haohuo-bottom-ge6{
     	border-right: 0;
     }
     .haohuo-bottom-ge-left{
     	width: 85px;
     	float: left;


     }
     .haohuo-bottom-ge-right{
     	float: right;
     	width: 90px;
     	height: 90px;
     	margin-top: 30px;
     	margin-right: 3px;
     }
     .haohuo-bottom-ge-right-img{
     	width: 100%;
     	height: 100%;
     }
     .haohuo-bottom-ge-left-p1{
     	margin-top: 19px;
     	font-size: 12px;
     	color: #333;
     	margin-left: 15px;
     	margin-bottom: 15px;
     }
     .haohuo-bottom-ge-left-p2{
     	display: inline;
     	font-size: 9px;
     	color: #3b8c94;
     	margin-left: 15px;
     }
     .haohuo-bottom-ge-left-p3{
     	display: inline;
     	font-size: 11px;
     	color: #999;
     }



     /* 特色推荐 */
     .tese-bottom-ge{
     	width: 183px;
     	height: 180px;
     	border-right: 1px solid #e7e7e7;
     	border-bottom: 1px solid #e7e7e7;
     	float: left;
     }
     .tese-bottom-ge1{
     	width: 85px;
     	height: 19px;
     	border: 1px solid ##ff6600;
     	border-radius: 30px;
     	background: #ff6600;
     	font-size: 13px;
     	color: white;
     	text-align: center;
     	line-height: 19px;
     	margin-top: 14px;
     	margin-left: 8px;
     }
     .tese-bottom-ge-p{
     	font-size: 12px;
     	color: #999;
     	margin: 7px 0 0 16px;
     }
     .tese-bottom-ge-pic{
     	height: 123px;
     	width: 182px;
     }
     .tese-bottom-ge-pic-img{
     	width: 100%;
     	height: 100%;
     }
     .tese-bottom .tese-bottom-ge:nth-child(2){
     	border-right: 0;
     }
     .tese-bottom .tese-bottom-ge:last-child{
     	border-right: 0;
     }


     /* 排行榜 */
     .paihang-bottom-t{
     	height: 180px;
     	width: 369px;
     	border-bottom:1px solid #e7e7e7;
     	
     }
     .paihang-bottom-t-t{
     	width: 51px;
     	height: 21px;
     	border: 1px solid #red;
     	background: red;
     	border-radius: 30px;
     	font-size: 12px;
     	color: white;
     	line-height: 21px;
     	text-align: center;
     }
     .paihang-bottom-t-b{
     	width: 369px;
     	height: 143px;

     }
     .paihang-bottom-t-b-ge{
     	width: 122px;
     	height: 143px;
     	float: left;
     }
     .paihang-bottom-t-b-ge-pic{
     	width: 122px;
     	height: 81px;
     }
     .paihang-bottom-t-b-ge-pic-img{
     	width: 70%;
     	height: 70%;
          margin-top:px; 
     }
     .paihang-bottom-t-b-ge-p{
     	font-size: 11px;
     	color: #333;
     	margin: 0 auto;
     }
     .paihang-bottom-t-b-ge-p2{
     	font-size: 15px;
     	color: red;
     	margin-top: 4px;
     }


/* 苏宁特卖 */
     .temai-bottom{
	 height: 362px;
	 width: 369px;
	 padding:10px 10px 10px 11px;
	 background: white;
     }
     .temai-bottom-ge{
	 width: 184px;
	 height: 241px;
	 float: left;
	 background: white;
	 border-right: 1px solid #e7e7e7;
	 border-bottom: 1px solid #e7e7e7;
     }
     .temai-bottom-ge-pic{
	 width: 184px;
	 height: 158px;
     }
     .temai-bottom-ge-img{
	 width: 100%;
	 height: 100%;
     }
     .temai-bottom-ge-p1{
	 font-size: 12px;
	 color: #333;
	 margin-left: 15px;
	 margin-top: 19px;
     }
     .temai-bottom-ge-p2{
	 font-size: 11px;
	 color: #c43d7e;
	 margin-top: 8px;
	 margin-left: 15px;
	 margin-bottom: 24px;
     }
     .temai-bottom-ge2{
     	width: 184px;
     	height: 120px;
     	float: left;
     	border-bottom: 1px solid #e7e7e7;
     }
     .temai-bottom-ge2-left{
     	width: 76px;
     	float: left;
     }
     .temai-bottom-ge2-left-p{
     	font-size: 11px;
     	color: #333;
     	margin-top: 19px;
     	margin-left: 15px;
     }
     .temai-bottom-ge2-left-p2{
     	font-size: 11px;
     	color: #999;
     	margin-top: 15px;
     	margin-left: 15px;
     }
     .temai-bottom-ge2-right{
     	width: 70px;
     	height: 57px;
     	float: right;
     	margin-right: 14px;
     	margin-top: 59px;
     }
     .temai-bottom-ge2-right-img{
     	width: 100%;
     	height: 100%;
     }
     .temai-bottom-ge3{
     	border-bottom: 0;
     	border-right: 1px solid #e7e7e7;
     }
     .temai-bottom-ge4{
     	border-bottom: 0;
     }


/* 苏宁生鲜 */
     .shengxian{
     	height: 530px;
     	width: 1190px;
     	margin: 20px auto 0;
     }
     .shengxian-left{
     	float: left;
     	width: 800px;
     	height: 530px;
     	
     }
     .shengxian-left-ge{
     	width: 390px;
     	height: 170px;
     	float: left;
     	margin: 0 10px 10px 0;
     	background-image: -webkit-linear-gradient(left,#777 50%,#333);
     }
     .shengxian-left-ge-left{
     	float: left;
     	width: 190px;
     	height: 170px;
     }
     .shengxian-left-ge-left-p{
     	font-size: 20px;
     	width: 80px;
     	color: white;
     	margin: 45px 0 0 35px;
     	border-top: 1px solid white;
     }
     .shengxian-left-ge-left-p2{
     	font-size: 12px;
     	width: 124px;
     	color: white;
     	margin: 20px 0 0 35px;
     	border-top: 1px solid white;
     }
     .shengxian-left-ge-right{
     	width: 185px;
     	height: 170px;
     	float: right;
     }
     .shengxian-left-ge-right-img{
     	width: 100%;
     	height: 100%;
     	transition: 0.5s;

     }
     .shengxian-left-ge:hover .shengxian-left-ge-right-img{
     	transform: translate(-11px, 0);
     }


     .shengxian-right{
     	height: 530px;
     	width: 390px;
     	float: right;
     }
     .shengxian-right-top{
     	height: 272px;
     	width: 390px;
     }
     .shengxian-right-top-top{
     	width: 375px;
     	height: 45px;
     	padding-left:15px;
     	background: #3f3435;
     	color: white;
     	line-height: 45px;

     }
     .shengxian-right-top-bottom{
     	height: 227px;
     	width: 390px;
     	position: relative;
     }
     .shengxian-right-top-bottom-img{
     	width: 100%;
     	height: 100%;
     }
     .shengxian-right-top-bottom-zhezhao{
     	height: 45px;
     	width: 355px;
     	background: rgba(140, 140, 140, 0.);
     	font-size: 13px;
     	color: white;
     	line-height: 45px;
     	padding-left: 35px;
     	position: absolute;
     	bottom: 0;
     	left: 0;
     }
     .shengxian-right-top-bottom-bofang{
     	width: 49px;
     	height: 49px;
     	border: 1px solid white;
     	border-radius: 50%;
     	background: rgba(140, 140,140, 0.5);
     	position: absolute;
     	top: 0;
     	bottom: 0;
     	margin-top: auto;
     	margin-bottom: auto;
     	left: 0;
     	right: 0;
     	margin-left: auto;
     	margin-right: auto;
     	text-align: center;
     	line-height: 49px;
     }
     .shengxian-right-top-bottom-bofang-i{
     	color: white;
     	font-size: 20px;
     }
     .shengxian-right-top-bottom-bofang:hover{
     	border: 1px solid #ff6600;
     }
     .shengxian-right-top-bottom-bofang:hover .shengxian-right-top-bottom-bofang-i{
     	color: #ff6600;
     }
     .shengxian-right-top-bottom-huifang{
     	width: 57px;
     	height: 17px;
     	border: 1px solid #6b6b6a;
     	background: #6b6b6a;
     	border-radius: 30px;
     	color: white;
     	font-size: 11px;
     	line-height: 17px;
     	position: absolute;
     	top: 19px;
     	left: 41px;
     }
     .shengxian-right-top-bottom-bofang-i1{
     	color: #eaa210;
     }
     .shengxian-right-mid{
     	width: 390px;
     	height: 73px;
     	margin-top: 5px;
     }
     .shengxian-right-mid-ge{
     	float: left;
     	width: 128px;
     	height: 73px;
     	margin-right: 3px;
     	position: relative;
     }
     .shengxian-right-mid-ge-img{
     	width: 100%;
     	height: 100%;
     }
     .shengxian-right-mid-ge-zhezhao{
     	width: 120px;
     	height: 21px;
     	position: absolute;
     	bottom: 0;
     	left: 0;
     	font-size: 11px;
     	color: white;
     	line-height: 21px;
     	padding-left: 8px;
     }
     .shengxian-right-mid-ge-bofang{
     	width: 24px;
     	height: 24px;
     	border: 1px solid white;
     	border-radius: 50%;
     	background: rgba(140, 140,140, 0.5);
     	position: absolute;
     	top: -14px;
     	left: 0;
     	right: 0;
     	margin-left: auto;
     	margin-right: auto;
     	text-align: center;
     	line-height: 22px;
     }
     .shengxian-right-mid-ge-bofang-i{
     	font-size: 10px;
     }
     .shengxian-right-mid .shengxian-right-mid-ge:last-child{
     	margin-right: 0;
     }
     .shengxian-right-bottom{
     	height: 170px;
     	width: 390px;
     	margin-top: 10px;
     }
     .shengxian-right-bottom-left{
     	float: left;
     	margin-right: 10px;
     	width: 155px;
     	height: 149px;
     	padding: 21px 0 0 35px;
     	background: #525dde;
     }
     .shengxian-right-bottom-left-p{
     	font-size: 20px;
     	color: white;

     }
     .shengxian-right-bottom-left-p2{
     	font-size: 11px;
     	color: white;
     	margin-top: 6px;
     }
     .shengxian-right-bottom-left-pic{
     	width: 86px;
     	height: 94px;
     }
     .shengxian-right-bottom-left-img{
     	width: 100%;
     	height: 100%;
     	margin-left: 18px;
     	margin-top: 4px;
     	transition: 0.5s;
     }
     .shengxian-right-bottom-left:hover .shengxian-right-bottom-left-img{
     	transform: translateX(-10px);
     }
     .shengxian-right-bottom-left2{
     	margin-right: 0;
     }


/* 广告 */
     .guanggao{
     	width: 1190px;
     	height: 100px;
     	margin: 20px auto;
     }
     .guanggao1{
     	float: left;
     	width: 397px;
     	height: 100px;
     	background: #dbd2e5;
     }
     .guanggao2{
     	background: #f8edcf;
     }
     .guanggao3{
     	background: #d4f0f3;
     	width: 396px;
     }
     .guanggao1-left{
     	width: 139px;
     	height: 72px;
     	float: left;
     	padding: 28px 0 0 26px;
     }
     .guanggao1-left-p{
     	font-size: 18px;
     	color: #333;
     }
     .guanggao1-left-p2{
     	font-size: 14px;
     	color: #333;
     	margin-top: 10px;
     }
     .guanggao1-right{
     	width: 140px;
     	height: 100px;
     	float: right;
     }
     .guanggao1-right-img{
     	width: 100%;
     	height: 100%;
     }


/* 热门手机 */
     .remen{
     	width: 1190px;
     	height: 567px;
     	margin: 20px auto;
     }
     .remen-shouji{
     	width: 590px;
     	height: 567px;
     	float: left;
     }
     .remen-shouji-top{
     	width: 590px;
     	height: 45px;
     	border-top: 2px solid #3299cc;
     }
     .remen-shouji-top-left{
     	width: 175px;
     	height: 45px;
     	background: #3299cc;
     	font-size: 18px;
     	color: white;
     	line-height: 45px;
     	padding-left: 15px;
     	float: left;
     }
     .remen-shouji-top-left-i{
     	font-size: 22px;

     }

     .remen-shouji-top-right{
     	width: 400px;
     	height: 45px;
     	float: left;
     	background: #f0f7f4;
     }
     .remen-shouji-top-right-zi{
     	width: 302px;
     	height: 45px;
     	float: right;
     }
     .remen-shouji-top-right-zi1{
     	width: 57px;
     	height: 45px;
     	float: left;
     	font-size: 12px;
     	color: #666;
     	line-height: 45px;
     	margin-right: 20px;
     }
     .remen-shouji-top-right-zi .remen-shouji-top-right-zi1:last-child{
     	margin-right: 0;
     }

     .remen-shouji-mid{
     	height: 360px;
     	width: 590px;
     }
     .remen-shouji-mid-l{
     	width: 190px;
     	height: 360px;
     	float: left;
     	position: relative;
     }
     .remen-shouji-mid-l-t{
     	height: 360px;
     	width: 190px;
     	
     }
     .remen-shouji-mid-l-t-img{
     	width: 100%;
     	height: 100%;
     }
     .remen-shouji-mid-l-b{
     	position: absolute;
     	bottom: 0;
     	left: 0;
     	height: 85px;
     	width: 190px;
     	padding-top: 20px;
     	background: rgba(50, 153, 204, 0.5);
     }
     .remen-shouji-mid-l-b-p{
     	font-size: 20px;
     	color: white;
     	margin-left: 14px;
     }
     .remen-shouji-mid-l-b-p2{
     	font-size: 11px;
     	color: white;
     	margin-left: 14px;
     }
     .remen-shouji-mid-r{
     	width: 400px;
     	height: 360px;
     	float: right;
     }
     .remen-shouji-mid-r-ge{
     	width: 199px;
     	height: 160px;
     	border-left: 1px solid #eee;
     	border-bottom: 1px solid #eee;
     	background: white;
     	padding-top: 19px;
     	float: left;
     }
     .remen-shouji-mid-r .remen-shouji-mid-r-ge:first-child{
     	border-left: 0;
     }
     .remen-shouji-mid-r .remen-shouji-mid-r-ge:nth-child(3){
     	border-left: 0;
     }
     .remen-shouji-mid-r-ge-p{
     	font-size: 16px;
     	color: #333;
     	margin-left: 20px;

     }
     .remen-shouji-mid-r-ge-p2{
     	font-size: 11px;
     	color: #3299cc;
     	margin-left: 45px;

     }
     .remen-shouji-mid-r-ge-pic{
     	width: 135px;
     	height: 110px;
     	margin-left: 37px;
     	margin-top: 5px;
     }
     .remen-shouji-mid-r-ge-pic-img{
     	width: 100%;
     	height: 100%;
     	transition: 0.5s;
     }

     .remen-shouji-bottom{
     	height: 110px;
     	width: 590px;
     }
     .remen-shouji-bottom-t{
     	height: 110px;
     	width: 590px;
     }
     .remen-shouji-bottom-t1{
     	width: 189px;
     	height: 109px;
     	background: white;
     	float: left;
     	border-right: 1px solid #eee;
     	border-bottom: 1px solid #eee;
     }
     .remen-shouji-bottom-t1-l{
     	width: 70px;
     	height: 76px;
     	padding: 33px 0 0 20px;
     	float: left;
     }
     .remen-shouji-bottom-t1-l-p{
     	font-size: 12px;
     	color: #333;
     }
     .remen-shouji-bottom-t1-l-p2{
     	font-size: 12px;
     	color: #3299cc;
     }
     .remen-shouji-bottom-t1-r{
     	float: left;
     	width: 66px;
     	height: 77px;
     	margin: 13px 0 0 9px;

     }
     .remen-shouji-bottom-t1-r-img{
     	width: 100%;
     	height: 100%;
     	transition: 0.5s;
     }
     .remen-shouji-bottom-t2{
     	width: 199px;
     }
     .remen-shouji-bottom-t3{
     	width: 199px;
          border-right: 0;
     }


     .remen-shouji-b-pinpai{
     	height: 42px;
     	width: 552px;
     	background: white;
     	padding: 8px 0 0 37px;
     }
     .remen-shouji-b-pinpai1{
     	width: 80px;
     	height: 30px;
     	float: left;
     	margin-right: 15px;

     }
     .remen-shouji-b-pinpai1-img{
     	width: 100%;
     	height: 100%;
     }
     .remen-shouji-b-pinpai2{
     	margin-right: -17px;
     	margin-left: 4px;
     }
     .remen-shouji-top-right-zi1:hover{
     	color: #ff6600;
     }
     .remen-shouji-mid-r-ge:hover .remen-shouji-mid-r-ge-pic-img{
     	transform: scale(1.1, 1.1);
     }
     .remen-shouji-bottom-t1:hover .remen-shouji-bottom-t1-r-img{
     	transform: scale(1.1, 1.1);

     }
     .remen-diannao{
     	margin-left: 10px;
     }


/* 家用电器 */
     .dianqi{
     	width: 1190px;
     	height: 457px;
     	margin: 20px auto;

     }
     .dianqikuang{
     	width: 1190px;
     	height: 457px;

     }
     .dianqikuang-top{
     	width: 1190px;
     	border-top: 2px solid #5f6cb7;
     }
     .dianqikuang-top-right{
     	width: 1000px;
     	background: #eff0f8;
     }
     .dianqikuang-top-left{
     	background: #5f6cb7;
     }
     .jiadian-p2{
     	color: #5f6cb7;
     }
     .jiadian-l-b{
     	background: rgba(95, 108, 183, 0.5);
     }
     .jiadiankuang-mid{
     	width: 1190px;
     }
     .jiadiankuang-mid-r{
     	float: left;
     }
     .jiadiankuang-mid-gaidatu{
     	width: 200px;
     }
     .jiadiankuang-mid-l-t-gaidatu{
     	width: 200px;
     	height: 360px;
     }
     .jiadiankuang-pinpai{
     	width: 1152px;
     }


/* 广告 */


/* 智能数码 */


/* 生活家电 */


/* 美味生活 */


/* 美妈萌娃 */


/* 服装配饰 */


/* 金融阅读 */


/* 必抢清单 */
     .biqiangqingdan{
     	height: 385px;
     	width: 1190px;
     	margin: 20px auto;
          
     }
     .bqqd{
     	width: 590px;
     	height: 385px;
     	float: left;
     	background: white;
     	margin-right: 10px;
     }
     .bqqd2{
          margin-right: 0;
     }
     .bqqd_top{
     	width: 575px;
     	height: 46px;
     	background: #ffaa01;
     	padding-left: 15px;
     	font-size: 18px;
     	color: white;
     	line-height: 46px;
     }
     .bqqd_top_right{
     	float: right;
          margin-right: 10px;
     }
     .bqqd_top_right_a{
          font-size: 11px;
          color: white;
     }
     .bqqd_bottom{
          width: 570px;
          height: 320px;
          padding: 19px 0 0 20px;
     }
     .bqqd_bottom_ge{
          width: 285px;
          height: 160px;
          float: left;
     }
     .bqqd_bottom_ge_p{
          font-size: 12px;
          color: #333;
     }
     .bqqd_bottom_ge_mid{
          height: 16px;
          font-size: 11px;
          color: #999;
          margin-top: 10px;
     }
     .bqqd_bottom_ge_mid_l{
        color: white;
        width: 34px;
        height: 16px;
        background: #ff6600;
        display: inline-block;
        line-height: 16px;
        text-align: center;
     }
     .bqqd_bottom_ge_bottom{
          width: 285px;
          height: 121px;
          margin-top: 5px;
     }
     .bqqd_bottom_ge_bottom_l{
          width: 85px;
          height: 85px;
          float: left;
          margin-right: 5px;
          transition: 0.5s;
     }
     .bqqd_bottom_ge_bottom_l_img{
          width: 100%;
          height: 100%;

     }
     .bqqd_bottom_ge_bottom_l:hover{
          transform: scale(1.1, 1.1);
     }
     .bqqd_bottom_ge:hover .bqqd_bottom_ge_p{
          color: #ff6600;
     }







/* 猜你喜欢 */
      .cnxh{
          height: 382px;
          width: 1190px;
          margin: 20px auto 0;
      }
      .cnxh_top{
          width: 1190px;
          height: 40px;
      }
      .cnxh_top_txt{
          height: 20px;
          border-left: 3px solid #ff6600;
          padding-left: 12px;

      }
      .cnxh_bottom_ge{
          width: 218px;
          height: 340px;
          float: left;
          padding-left: 19px;
          background: white;
          border-right: 1px solid #eee;
      }
      .cnxh_bottom_ge_top{
          width: 190px;
          height: 200px;
          margin-top: 20px;
          transition: 0.5s;
          margin-bottom: 5px;

      }
      .cnxh_bottom_ge_top_img{
          width: 100%;
          height: 100%;
      }
      .cnxh_bottom_ge_2{
          width: 195px;
          height: 35px;
          font-size: 11px;
          color: #333;
          line-height: 20px;
      }
      .cnxh_bottom_ge_2_1{
          width: 29px;
          height: 17px;
          border: 1px solid #ff6600;
          border-radius: 5px;
          display: inline-block;
          color: #ff6600;
          font-size: 11px;
          text-align: center;
          line-height: 17px;
          float: left;
          margin-right: 5px;
      }
      .cnxh_bottom_ge_2_p{
       /* float: left; */ 
      }
      .cnxh_bottom_ge_p{
          color: #ff6600;
          font-size: 12px;
          margin-top: 10px;
      }
      .cnxh_bottom_bottom{
          width: 39px;
          height: 15px;
          border: 1px solid #ff6600;
          background: red;
          border-radius: 5px;
          color: white;
          font-size: 11px;
          text-align: center;
          line-height: 15px;
          margin-top: 12px;
          margin-right: 10px;
          float: left;
      }
      .cnxh_bottom_ge:hover .cnxh_bottom_ge_top{
          transform: scale(1.05, 1.05);
      }
      .cnxh_bottom_ge:hover .cnxh_bottom_ge_2{
          color: #ff6600;
      }


/* end */
      .end{
          width: 1190px;
          height: 62px;
          margin: 0 auto;
      }
      .end_xian{
          width: 97px;
          height: 31px;
          border-bottom: 1px solid #ccc;
          margin-left: 442px;
          margin-right: 38px;
          float: left;
      }
      .end_txt{
          font-size: 20px;
          line-height: 62px;
          color: #ccc;
          float: left;
          margin-right: 36px;
      }
      .end_xian2{
          width: 97px;
          height: 31px;
          border-bottom: 1px solid #ccc;
          
          float: left;
      }


/* 售后 */
      .shouhou{
          width: 100%;
          height: 278px;
          background: #f5f5f5;
          border-top: 1px solid #e7e7e7;
            }
           .shouhou_top{
           width: 1190px;
           height: 86px;
           border-bottom: 1px solid #e7e7e7;
           padding-top:11px; 
           margin: 0 auto 0;

           }
            .shouhou_top_ge{
          width: 200px;
          height: 59px;
          float: left;
          margin-right: 50px;
            }
           .shouhou_top_ge_left{
          width: 46px;
          height: 46px;
          border: 1px solid rgba(0, 0, 0, 0);
          border-radius: 50%;
          background: #f9ab00;
          text-align: center;
          line-height:43px;
          color: white;
          float: left;
           }
           .shouhou_top_ge_left_i{
          font-size: 25px;
           }
           .shouhou_top_ge_a2{
          font-size: 12px;
          color: #333;
          margin-bottom: 8px;
          margin-top: 5px;
          display: block;     
           }
           .shouhou_top_ge_right{
          color: #545454;
          font-size: 11px;
          float: left;
          width: 110px;
          height: 40px;
          margin-left: 9px;
     
           }
           .shouhou_top_ge1{
          margin-right: 0;
              width: 180px;
           }
           .shouhou_bottom{
          height: 166px;
          width: 1190px;
          margin: 0 auto 0;
          padding-top: 14px;
           }
           .shouhou_bottom_kuai{
          width: 90px;
          height: 166px;
          float: left;
          margin-right: 120px;
           }
           .shouhou_bottom_kuai_txt{
          width: 65px;
          height: 12px;
          font-size: 11px;
          color: #545454;
          margin-bottom: 11px;
           }
      
           .shouhou_bottom_kuai1{
          margin-right: 0px;
           }
           .shouhou_bottom_kuai_a .shouhou_bottom_kuai_txt:hover{
          color: #ff6600;
           }
           .shouhou_top_ge_a2:hover{
           color: #ff6600;
           }


/* over */
      .over{
          width: 1190px;
          height: 153px;
          margin: 0 auto 0;
          padding-top: 22px;
      }
      .over-top{
          height: 12px;
          width: 595px;
          margin: 0 auto 10px;
      }
      .over-top-txt{
          padding-right: 9px;
          border-right: 1px solid #999;
          display: inline;
          font-size: 11px;
          color: #666;
          margin-right: 9px;
      }
      .over-top1{
          height: 12px;
          width: 700px;
          margin: 0 auto 8px;
      }
      .over-top-txt2{
          border-right: 0;
      }
      .over-top-txt1{
          border-right: 0;
      }
      .gongan{
          width: 800px;
          height: 14px;
          margin: 0 auto 10px;
          font-size: 11px;
          color: #999;
      }
      .gongan-txt{
          display: inline-block;
          padding-right: 9px;
          margin-left: 9px;
          border-right: 1px solid #999;
      }
      .gongan-i{
          font-size: 20px;
          color: red;
          margin-right: -10px;
      }
      .gongan-txt{
          font-size: 11px;
          color: #999;
      }
      .gongan-txt1{
          border-right: 0;
      }

      .gongan2{
          width: 800px;
          height: 12px;
          margin:20px auto 10px;
          font-size: 11px;
          color: #999;
      }
      .txt{
          font-size: 11px;
          color: #999;
          height: 12px;
          margin: 0 auto 17px;
          width: 650px;
      }
      .pic{
          width: 300px;
          height: 28px;
          margin: 0 auto;
      }
      .pic-a-img{
          margin-right: 12px;
      }











